{erl_opts, [debug_info, {src_dirs, ["src", "include"]}]}.

{deps, [jsone]}.

{profiles, [{dev, 
  [{erl_opts, 
    [debug_info, noshell, {src_dirs, ["src", "include"]}]
    }]}]}.
{relx, [{release, {dev, "0.1.0"},
         [erlang]},
        {mode, dev},
        {include_erts, false},
        {extended_start_script, true}]}.
{shell,
 % {config, "config/sys.config"},
 [{apps, [erlang]}]}.

{dist_node, [{sname, 'erlang-node@localhost'}, {setcookie, 'erlang-node'}]}.

{plugins, [rebar3_format]}.

{format,
 [{files, ["rebar.config", "src/**/*.?rl", "test/**/*.?rl"]},
  {formatter, default_formatter},
  {options,
   #{paper => 110,
     ribbon => 100,
     break_indent => 2}},
  {ignore, []}]}.
